@{ ViewData["Title"] = "Profile";
    ViewData["PageName"] = "profile_verifyemailaddress";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-shield-alt'></i>  Verify Email";
    ViewData["PageDescription"] = "Verify Email Address";
    ViewData["Category1"] = "Authentication"; }
@section HeadBlock {
    
}
<div class="row">
    
</div>



@section ScriptsBlock {
    <script>
    </script>



}
