# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/BiblePayBMS/config/applicationhost.config
.vs/*
.vs/BiblePayBMS/DesignTimeBuild/.dtbcache
BiblePayBMS.suo
BiblePaySQL.suo
BMS.BMSD/bin/*
BMS.BMSD/obj/*
BMS.BMSD/Properties/PublishProfiles/FolderProfile.pubxml.user
Features/bin/*
Features/obj/*
Features/Properties/PublishProfiles/FolderProfile.pubxml.user
FluffySpoon/.vs/*
*.cache

bin/Debug/netcoreapp3.1/*
BMSCommon/BMSCommon/obj/*

obj/*


FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Azure/obj/*
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.EntityFramework.Sample/bin/Debug/netcoreapp2.2/FluffySpoon.AspNet.LetsEncrypt.EntityFramework.pdb
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.EntityFramework.Sample/bin/*
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.EntityFramework.Sample/obj/*
*.pdb
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.EntityFramework/bin/*
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.EntityFramework/obj/*

FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Redis/bin/*
FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Redis/obj/*

/FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Sample/.well-known/*
/FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Sample/bin/*
/FluffySpoon/FluffySpoon.AspNet.LetsEncrypt.Sample/obj/*
/FluffySpoon/FluffySpoon.AspNet.LetsEncrypt/obj/*
Stratis.Bitcoin.FullNode.suo
