@{ 
	ViewData["Title"] = "Privacy";
	ViewData["PageName"] = "intel_privacy";
	ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Privacy";
	ViewData["Category1"] = "Application Intel";
	ViewData["PageDescription"] = "SmartAdmin Privacy";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
	<h2>Privacy</h2>
	<p class="mb-g">
		Your privacy is important to us.
	</p>
	<h3>Cookies and other similar technologies</h3>
	<p>
		We collect certain data through cookies and similar technologies (e.g. web beacons, tags, device identifiers).
		Cookies are text files placed on your computer to collect standard internet log information and visitor behaviour information.
		This information is used to track visitor use of the website and to compile statistical reports on website activity.
		We register your interaction with our services in order to improve our website, content and services. Our use of such technologies and the data collected is described in more detail in our Cookie Policy.
		You can manage your cookie preferences through your browser settings.
	</p>
</div>	
@section ScriptsBlock {}
