<li class="unread">
    <a href="#" class="d-flex align-items-center">
        <span class="status @status mr-2">
            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('@avatarURL')"></span>
        </span>
        <span class="d-flex flex-column flex-1 ml-1">
            <span class="name">@fullname</span>
            <span class="msg-a fs-sm">@message</span>
            <span class="fs-nano text-muted mt-1">@timerelative</span>
        </span>
    </a>
</li>