<!-- The markup for the add new timeline entry -->

<div class="card border mb-g">
    <div class="card-body pl-4 pt-4 pr-4 pb-0">
        <div class="d-flex flex-column">
            <div class="border-0 flex-1 position-relative shadow-top">
                <div class="pt-2 pb-1 pr-0 pl-0 rounded-0 position-relative" tabindex="-1">
                    <span class="profile-image rounded-circle d-block position-absolute" style="background-image: url('@BioURL'); background-size: cover;"></span>

                    <div class="pl-5 ml-5">
                        <div id="divPaste">@divPaste</div>
                    
                        <textarea class="form-control border-0 p-0 fs-xl bg-transparent" rows="4" readonly>@VALUE</textarea>
                    </div>
                </div>
            </div>

            <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">
                    <i class="fal fa-camera color-fusion-300"></i>
                </a>
                <button class="btn btn-info shadow-0 ml-auto" onclick="var e = {};e.parentid='@parentid';DoCallback('timeline_reply',e);">Reply</button>
            </div>
        </div>
    </div>
</div>