@{
    Layout = null;
}

    <div id="implant">@Html.Raw(@ViewBag.ProvisionMessage)</div>
    
    <form id="dummyForm">
        Country:
        <select id='ddCountry' class="form-control" style="background-color:lime;" onchange="">
            <option>United States</option>
        </select>
        <br />

        State:
        <select id='ddState' class="form-control" onchange="DoCallback('phone_changestate', null, '../../phone/processdocallback');">
            @Html.Raw(ViewBag.ddState);
        </select>

        <br />

        Region:
        <select id='ddRegion' class="form-control" onchange="DoCallback('phone_changeregion', null, '../../phone/processdocallback');">
            @Html.Raw(ViewBag.ddRegion);
        </select>

        <br />
        
        
        <button class="btn xbtn-info shadow-0 ml-auto btn-default" id='btnAddPhone'
                    onclick="this.disabled = true; DoCallback('phone_addnumber', null, '../../phone/processdocallback'); return false;">
            Add Phone Number
        </button>

    </form>



