@{ ViewData["Title"] = "BiblePay Phone";
    ViewData["PageName"] = "phone_phone";
    ViewData["Heading"] = "<i class='fal fa-telephone'></i> &nbsp;Phone";
    ViewData["Category1"] = "Phone";
    ViewData["PageDescription"] = "Connecting families across the globe"; }
@section HeadBlock {
  
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    <h3>BiblePay Phone Service</h3>
    
    Thank you for using the BiblePay Phone Service.
    


</div>
@section ScriptsBlock {
    <script>
        
        window.open(
            'phone/phoneservice',
            '_blank' 
        );


    </script>

}
