@{ ViewData["Title"] = "BiblePay - General NFTs";
    ViewData["PageName"] = "nft_nftlistgeneral";
    ViewData["Heading"] = "<i class='fal fa-palette'></i> &nbsp;General NFTs";
    ViewData["Category1"] = "NFT";
    ViewData["PageDescription"] = "NFTs with integrity"; }
@section HeadBlock {
    
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.NFTList)
    <hr />
    @Html.Raw(ViewBag.NFTListOwned)

</div>
@section ScriptsBlock {}
