@{
    ViewData["Title"] = "Dashboard BiblePay";
    ViewData["PageName"] = "Dashboard BiblePay";
    ViewData["Category1"] = "Intelligence";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-cross'></i>BBP Dashboard</span>";
}
@section HeadBlock {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/lib/bbp/bbpcore.js"></script>
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}

@model List<BiblePay.BMS.Controllers.IntelController.Employee>

@section SubheaderBlock {
}


@Html.Raw(ViewBag.DynamicTable)


<div class="row">
    <div class="col-md-12 col-xl-6">
        <div id="panel-3" class="panel">
            <div class="panel-hdr">
                <h2>
                    Large <span class="fw-300"><i>Alerts</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="demo-v-spacing">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                            </button>
                            <div class="d-flex align-items-center">
                                <div class="alert-icon width-1">
                                    <i class="@(Settings.Theme.IconPrefix) fa-sync fs-xl fa-spin"></i>
                                </div>
                                <div class="flex-1">
                                    <span class="h6 m-0 fw-700">Task 55% Complete</span>
                                    <div class="progress mt-1 progress-xs">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success-600" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div id="implant0">
                                    Implant Area
                                    <button class="btn btn-primary" onclick="mou();" id="btnSave" value="Save">Push for Alert</button>
                                </div>

                                <div id="testsigner0">
                                    <button class="btn" onclick="testsigner();" id="btntestsigner" value="test signer">Push to Test Signer</button>
                                </div>

                                <button onclick="DoCallback('test_1');">Test MessagePage</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Raw(ViewBag.Accordian)





@section ScriptsBlock {

    <script type="text/javascript">


    </script>


}
