@{ ViewData["Title"] = "About";
    ViewData["PageName"] = "gospel_about";
    ViewData["Heading"] = "";
    ViewData["Category1"] = "Gospel";
    ViewData["PageDescription"] = ""; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">



    <!--Red Sea Alert-->
    <div class="card mb-g" style="background-color:lightyellow">
        <h3><center><b>Red Sea Alert!</b></center></h3>
        <ul>
            <li>We will be pushing out a mandatory upgrade called Red Sea soon, approximately June 2023          </li>
            <li>This release includes many major changes, including moving Unchained to the Desktop</li>
            <li>Because Metamask will be retired in favor of 2FA, the Authentication method will change</li>
            <li>This means the Web Wallet private key format will change</li>
            <li>Turnkey Sanctuaries will be retired in favor of Decentralized Offline Sancs</li>
            <li style="background-color:yellow">Please withdraw ALL of your Web Wallet funds by May 31st, 2023</li>
            <li style="background-color:yellow"> Please decommission and withdraw ALL of your Turnkey Sanctuaries by May 20th, 2023</li>
            <li>You may leave your Portfolio Builder positions as those live in the Core Wallet</li>
            <li>For more information about the changes, <a href="https://wiki.biblepay.org/Red_Sea_Release">please read this wiki page.</a></li>
            <li>Once we are stable on the new version, you will be able to set up a new desktop wallet</li>
            <li>Once the desktop wallet is stable, we will release a 2FA authentication mechanism for future web features (moving away from metamask)</li>
            <li>Thank for you using BIBLEPAY!</li>

        </ul>

    </div>


    <div style="text-align:center">
        <h3>     Welcome to BiblePay Unchained  -  v4.2  </h3>
    </div>




    <div class="container global-header"  style="background-size:cover;min-width:50%;min-height:200px;width:95%;height:350px"></div>

    <div id="AboutBiblePay1">

        <br />
        <ul>
            <li>A social media system with a Timeline (like facebook) and Videos (like youtube).
            <li>Immutable posts stored on our sidechain.  Provable sha256 hashes and timestamps.
            <li>Censorship resistance.
            <li>Technology stack is web3 and not tied to big tech or big media.
            <li>S3AAS, DbAAS, API Services.
            <li>Defi contracts, NFTs, ERC20 Wallet and BBP Wallet.
            <br />

            </li>

        </ul>

    </div>

</div>
@section ScriptsBlock {

<script>
    //Array of images which you want to show: Use path you want.
    var images = new Array('img/jc2.png', 'img/jc3.jpg');
    var nextimage = 0;
    var slide = 0;
    doSlideshow();
    function doSlideshow()
    {
    if(nextimage>=images.length){nextimage=0;}
    $('.global-header').css('background-image', 'url("' + images[nextimage++] + '")');
    slide++;

    if (slide == 1) {
    setTimeout(doSlideshow, 777);
    }
    else {
    setTimeout(doSlideshow, 24000);
    }
    }

    </script>
}
