@{ ViewData["Title"] = "Accountability";
                ViewData["PageName"] = "gospel_accountability";
                ViewData["Heading"] = "<i class='fal fa-table'></i> &nbsp; Accountability";
                ViewData["Category1"] = "Gospel";
                ViewData["PageDescription"] = "Accountability Reports (God sees everything)"; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    
@Html.Raw(ViewBag.AccountabilityReports)


</div>


@section ScriptsBlock {}
