@{ ViewData["Title"] = "Orphan Collage";
                ViewData["PageName"] = "gospel_collage";
                ViewData["Heading"] = "<i class='fal fa-cross'></i> &nbsp;BiblePay Orphan Collage";
                ViewData["Category1"] = "Gospel";
                ViewData["PageDescription"] = "Tithing 10% of all Block Chain Emissions to Orphan Charity"; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    

@Html.Raw(ViewBag.Collage)


</div>
@section ScriptsBlock {}
