@{ ViewData["Title"] = "Core Gospel";
    ViewData["PageName"] = "gospel_coregospel";
    ViewData["Heading"] = "<i class='fal fa-cross'></i> &nbsp;Core Beliefs";
    ViewData["Category1"] = "Gospel";
    ViewData["PageDescription"] = "Sharing the Gospel of Jesus Christ"; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">



    <a href="gospel/viewer?type=TheSinnersPrayer">The Sinners Prayer</a>
    <br />

    <a href="gospel/viewer?type=TheLordsPrayer">The Lords Prayer</a>
    <br />

    <a href="gospel/viewer?type=ApostlesCreed">The Apostles Creed</a>
    <br />

    <a href="gospel/viewer?type=NiceneCreed">The Nicene Creed</a>
    <br />

    <a href="gospel/viewer?type=TenCommandments">The Ten Commandments</a>
    <br />

    <a href="gospel/viewer?type=JesusConciseCommandments">Jesus Concise Commandments</a>
    <br />

    <a href="gospel/viewer?type=sinner1">How do I get Saved?</a>
    <br />


</div>
@section ScriptsBlock {}
