@{ ViewData["Title"] = "Gospel Viewer";
    ViewData["PageName"] = "gospel_viewer";
    ViewData["Heading"] = "";
    ViewData["Category1"] = "Gospel";
    ViewData["PageDescription"] = "Sharing the Gospel of Jesus Christ"; }
@section HeadBlock {

   

}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.GospelData)

</div>
@section ScriptsBlock {}
