@{ ViewData["Title"] = "Wiki Theology";
                ViewData["PageName"] = "gospel_wikitheology";
                ViewData["Heading"] = "";
                ViewData["Category1"] = "Gospel";
                ViewData["PageDescription"] = ""; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
    
@Html.Raw(ViewBag.Wiki)


</div>
@section ScriptsBlock {}
