@{ ViewData["Title"] = "BiblePay - Orphan NFTs";
    ViewData["PageName"] = "bbp_nftlistorphans";
    ViewData["Heading"] = "<i class='fal fa-palette'></i> &nbsp;Orphan NFTs";
    ViewData["Category1"] = "NFT";
    ViewData["PageDescription"] = "NFTs with integrity"; }
@section HeadBlock {
   
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.NFTList)

</div>
@section ScriptsBlock {}
