@{ ViewData["Title"] = "Pool - Leaderboard";
    ViewData["PageName"] = "bbp_poolleaderboard";
    ViewData["Heading"] = "<i class='fal fa-tachometer'></i> &nbsp;Pool - Leaderboard";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "Dual Merge-Mined Rewards"; }
@section HeadBlock {
  
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.PoolLeaderboard)

</div>
@section ScriptsBlock {}
