@{ ViewData["Title"] = "Portfolio Builder - Donation Page";
    ViewData["PageName"] = "bbp_portfoliobuilderdonation";
    ViewData["Heading"] = "<i class='fal fa-tachometer'></i> &nbsp;Portfolio Builder - Donations";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "Self directed cryptocurrency retirement accounts"; }
@section HeadBlock {
   

}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    From this page, you can make a free will donation into our portfolio builder kitty.
    This donation will be distributed to our portfolio builder participants evenly weighted by their share percentage over 30 days (meaning 1/30th will be spent per day on rewards).
    This donation will effectively increase the reward ROI% for everyone, which will theoretically attract more users to our project.
    <br />
    Once the donation is made you will see the ROI% increase <a href="bbp/portfoliobuilder">here.</a>


    <br />
    <br />
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
        <div class="panel-container show">
            <div class="panel-content">

                Donation Amount:
                <br />
                <input id="txtDonationAmount" style="width:300px;" class="form-control" />
                <button id="btnSubmit" class="btn-default" onclick="DoCallback('portfoliobuilder_donation');">Submit Donation</button>

                <br />
                <br />
                <br />
            </div>
        </div>
        </div>
        Active Donations List (Donations made over the last 30 days that still affect the Portfolio Builder ROI%):
        <br />

        @Html.Raw(ViewBag.ActiveDonations)

    </div>
    @section ScriptsBlock {}
