@{ ViewData["Title"] = "Portfolio Builder";
                ViewData["PageName"] = "bbp_portfoliobuilder";
                ViewData["Heading"] = "<i class='fal fa-credit-card'></i> &nbsp;Portfolio Builder";
                ViewData["Category1"] = "BBP";
                ViewData["PageDescription"] = "Enhancing the Block Chain"; }
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.CryptoCurrencyIndex)


    <span ToolTip="(Dynamic-Whale-Unit): The estimated annual Return on your staked BiblePay.">@ViewBag.DWU</span>
    <br />
    <br />
    NOTE:<br />
    <br />

    To enable portfolio builder for your core biblepay wallet, please follow these instructions:
    <br />
    <br />
    <a href="https://wiki.biblepay.org/Portfolio_Builder_2.0">Portfolio Builder Guide</a>
    <br />

    <br />


</div>
@section ScriptsBlock {}
