@{ ViewData["Title"] = "Timeline";
    ViewData["PageName"] = "bbp_timeline";
    ViewData["Heading"] = "";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "Timeline"; }
@section HeadBlock {
  
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    @Html.Raw(ViewBag.Timeline)


</div>
@section ScriptsBlock {}
