@{ ViewData["Title"] = "Turnkey Sanctuary";
    ViewData["PageName"] = "bbp_turnkeysanctuary";
    ViewData["Heading"] = "<i class='fal fa-chart-bar'></i> &nbsp;Turnkey Sanctuaries";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "Creating a Turnkey Sanctuary"; }
@section HeadBlock {
    <style>
    </style>
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    VPS IPV4 Address:
    <br />
    <input id="txtIPAddress" style="width:400px;" />

    <br />
    Sanctuary Name:
    <br />
    <input id="txtSanctuaryName" style="width:400px;" />

    <br />

    Sanctuary Configuration Information (By BiblePay Core Wallet):
    <br />
    <textarea cols="120" rows="10" id="txtConfiguration"></textarea>
    <br />

    Root Password:
    <br />
    <input id="txtRootPassword" style="width:400px;" type="password"/>

    <br />



    <button id="btnSubmit" onclick="DoCallback('turnkey_submit');">Provision Turnkey Sanctuary</button>

</div>
@section ScriptsBlock {}
