<div>

    <h5>State   @Html.Raw(ViewBag.txtState)</h5>
        <br />
        Enter the State:        

        <input id='txtState2' style='width:450px;' class="form-control" value='@ViewBag.txtState' />

        <button type="button" onclick="DoCallback('PopulateSection3','','Test/TestSection3');">Submit</button>
</div>